{% extends "layout4.html" %}
{% block title %}Edit Talla y Peso{% endblock %}
{% block content%}
<form action="/cambiartallaypeso{{ medic }}" >
    <div class="container p-5">
        <div class="jumbotron" align="justify">
            <h2 class="display-4"><b>Editar Talla y/o Peso</b></h2>
            <p></p>
            <b>Usuario (cc)</b> <input type="text" name="cedula"><br>
            <p></p>
            Talla (cm): <input type="number" name="talla">
            <p></p>
            Peso (kg): <input type="number" name="peso">
            <p></p>
            <input type='submit' value='Confirmar'>
          </div>
    </div>
    </form>
{% endblock %}
