{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4"><b>¿Que es ReviSalud?</b></h1>
        <hr class="my-4">
        <p>Revisalud es una plataforma online, que busca mejorar el servicio médico en Colombia, haciendo más amena la
            experiencia en línea en las I.P.S. que contraten nuestro servicio, buscando la mejor manera, la unión entre
            medico, paciente incluyendo aspectos administrativos. </p>
    </div>
</div>
<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4"><b>Contactenos:</b></h1>
        <hr class="my-4">
        <p>3234341936 - Juan Camilo Zambrano López</p>
        <p>3108032737 - Juan David Tique Triana</p>
        <p>3138097393 - Cesar Esteban Epia Martinez</p>
    </div>
</div>
{% endblock %}