{% extends "layout2.html" %}
{% block title %}Home-Admin{% endblock %}
{% block content%}
<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido Admin</h1>
        <hr class="my-4">
        <h2>¿Que Quieres Hacer?</h2>
        <div style="display:flex;justify-content:space-evenly;margin-top: 4vh;">
            <div style="width: 44%; ">
                <a style="width: 99%;height: 100%;" class="btn btn-primary btn-lg" href="/verpersonal_medico" role="button">
                    <img style="height: 100px;width: 100px;margin:12px;" src="static/images/medic.png" alt="calendario">
                    <container style="">
                        <h2>Ver Personal Médico</h2>
                        <p>Mire los datos del personal médico.</p>
                    </container>
                </a>
            </div>
            <div style="width: 44%;">
                <a style="width: 99%;height: 100%;" class="btn btn-primary btn-lg" href="/crear_medico" role="button">
                    <img style="height: 100px;width: 100px;margin:12px;" src="static/images/add.png"
                        alt="calendariomas">
                    <container style="">
                        <h2>Añadir Personal Médico</h2>
                        <p>Añada usuarios al personal médico.</p>
                    </container>
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}